<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>325448800232-i9mso99h0bmsinl662hpg3skangv5b1r.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
  	<dict>
  	  <key>CFBundleURLSchemes</key>
  	  <array>
  	    <string>com.googleusercontent.apps.325448800232-i9mso99h0bmsinl662hpg3skangv5b1r</string>
  	  </array>
  	</dict>
	</array>
</dict>
</plist>
